altgraph==0.17.4
blinker==1.9.0
click==8.3.0
Flask==3.1.2
folium
fonttools==4.60.1
itsdangerous==2.2.0
macholib==1.16.3
numpy
packaging==25.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PyQt6==6.10.0
PyQt6-Qt6==6.10.0
PyQt6-WebEngine==6.10.0
PyQt6-WebEngine-Qt6==6.10.0
PyQt6_sip==13.10.2
rubicon-objc==0.5.2
toga==0.5.2
toga-cocoa==0.5.2
toga-core==0.5.2
travertino==0.5.2
Werkzeug==3.1.3
